# Core deep learning stack
tensorflow==2.19.1
numpy==1.26.4
pandas==2.2.3
opencv-python==4.10.0.84
matplotlib==3.9.2
seaborn==0.13.2
scikit-learn==1.5.2

# Image preprocessing & augmentation
Pillow==10.4.0
imgaug==0.4.0

# Model utilities
tqdm==4.66.5
protobuf==3.20.3

# Optional visualization tools
tensorboard

# Backend requirements
fastapi
uvicorn
pillow
tensorflow
python-multipart